name: CI

on:
  workflow_call:
  workflow_dispatch:
  push:

jobs:
  php-cs-fixer:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache Pint
        uses: actions/cache@v4
        with:
          path: ./pint.cache
          key: ${{ runner.os }}-pint-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-pint-

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          tools: pint

      - name: Run Laravel Pint (PHP CS Fixer)
        run: pint
        continue-on-error: true

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Fix PHP Syntax Styling

  phpstan:
    name: phpstan
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php: [ '8.3', '8.4' ]

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: "dom, curl, libxml, mbstring, zip, fileinfo, redis, bcmath"
          coverage: none

      - name: Cache composer dependencies
        uses: actions/cache@v4
        with:
          path: vendor
          key: composer-${{ hashFiles('composer.lock') }}

      - name: Install Dependencies
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress
        env:
          APP_ENV: testing

      - name: Run PHPStan
        run: ./vendor/bin/phpstan

  eslint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Cache npm dependencies
        uses: actions/cache@v4
        with:
          path: node_modules
          key: package-lock-${{ hashFiles('package-lock.json') }}

      - name: Install Modules
        run: npm install

      - name: Run eslint fix
        run: npm run lint:fix
        continue-on-error: true

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Fix eslint issues